.burger {
    display: none;
    align-items: center;
    height: 100px;
    width: 100%;
}

.burger__icon {
    margin: 0 20px;
    height: 24px;
    width: 18px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}
.burger__icon span {
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%; transform: translateY(-50%);
    background: white;
    transition: all ease-in-out .1s;
}
.burger__icon span::before, .burger__icon span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
}
.burger__icon span::before {
    transform: translateY(-5px);
    transition: all ease-in-out .3s;
}
.burger__icon span::after {
    transform: translateY(5px);
    transition: all ease-in-out .3s;
}
.burger__icon.active span{
    background-color: rgba(0, 0, 0, 0);
}

.burger__icon.active span::before {
    background: grey;
    transform: translateY(0px) rotateZ(45deg);
}
.burger__icon.active span::after {
    background: grey;
    transform: translateY(0px) rotateZ(-45deg);
}
.burger__sidebar {
  position: absolute;
  background: white;
  z-index: 2;
  height: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  top: 0;right: 0;margin: 0;
}
.burger__sidebar.open {
  height: 0;
  animation: side-open .5s forwards;
}
@keyframes side-open {
    100% {height: 100px;}
}
.burger__sidebar.close {
  height: 100px;
  animation: side-close .5s forwards;
}
@keyframes side-close {
    100% {height: 0;}
}
.burger__filter {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0;
    animation: filter .5s forwards;
}
@keyframes filter {
    100% {opacity: .5;}
}
.burger__sidebar>li{
    margin: 0 10px;
}
.burger__sidebar>li>a{
    font-weight: bolder;
    color: black;
}
.burger__sidebar>li:nth-child(4){
    margin-right: 30px;
}
@media screen and (max-width: 1000px) {
    .burger {
        display: flex;
    }
}
@media screen and (max-width: 400px) {
    .burger__sidebar>li>a{
        font-size: 12px;
    }
    .burger__sidebar>li{
        margin: 0 5px;
    }
    .burger__sidebar>li:nth-child(4){
        margin-right: 20px;
    }
}
