.header {
    position: absolute;
    width: 100%;
    z-index: 2;
}
.header__inner {
    position: absolute;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    z-index: 2;
}
.header__logo {
    margin: 0 70px;
    color: black;
}
.header__navbar {
    display: flex;
    flex-direction: row;
}

.header__navbar>li {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 15px;
}

.header__navbar>li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    opacity: 1;
    background: white;
    transition: all ease-in-out .2s;
}

.header__navbar>li:hover::after {
    width: 100%;
}

.header__navbar>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    transition: all ease-in-out .1s;
}

@media screen and (max-width: 1000px) {
    .header {
        justify-content: center;
    }
    .header__inner {
        justify-content: center;
        height: 100px;
        width: 60%;
    }
    .header__navbar {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .header__inner {
        width: 100%;
    }
}

