.footer {
    display: flex;
    height: 35vh;
}
.footer__image {
    display: flex;
    width: 30%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer__image.left {
    background-image: url(../../assets/images/image-about-dark.jpg);
}

.footer__content {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__content_wrapper {
    width: 80%;
}

.footer__content_title {
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

.footer__content_paragrpahe {
    font-size: 14px;
    line-height: 1.5em;
    color: grey;
}

.footer__image.right {
    background-image: url(../../assets/images/image-about-light.jpg);
}
@media screen and (max-width: 1300px) {
    .footer__content_title {
        font-size: 16px;
    }
    .footer__content_paragrpahe {
        font-size: 12px;
    }
    
}
@media screen and (max-width: 1000px) {
    .footer__image.left {
        display: none;
    }
    .footer__content {
        width: 60%;
    }
    .footer__content_title {
        font-size: 14px;
    }
    .footer__image.right {
        width: 40%;
    }
}
@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        height: 80vh;
    }
    .footer__image.left {
        width: 100%;
        display: flex;
    }
    .footer__image.right {
        width: 100%;
    }
    .footer__content {
        margin: 50px 0;
        width: 100%;
    }
    .footer__content_title {
        font-size: 12px;
    }
    .footer__content_paragrpahe {
        font-size: 10px;
    }
}